body {
    margin: 0px;
}

div {
    box-sizing: border-box;
}

/* main */
.main-background {
    background: linear-gradient(#499add, #4e61c0);
    height: 550px;
    padding: 20px;
    padding-bottom: 0px;
    color: white;
}

.main-container {
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: auto;
}

.main-text {
    width: 65%;
    margin-top: 50px;
}

.main-iphone-container {
    position: relative;
    width: 35%;
}

.main-iphone {
    width: 100%;
    max-width: 500px;
    position: absolute;
    bottom: 0px;
}

.btn-black {
    background-color: #444444;
    color: white;
    padding: 14px 14px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* service */
.service {
    background-color: #4e61c0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 60px 30px 50px 30px;
}

.service-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.service-items {
    display: flex;
}

.service-items div {
    width: 25%;
}

.service h5 {
    margin-bottom: 0px;
}

.service-icon {
    background: white;
    color: #4e61c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 25px;
}

/* portfolio */
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.portfolio-item1 {
    position: relative;
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(../img/portfolio-1.jpg);
    background-size: cover;
}

.portfolio-item2 {
    position: relative;
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(../img/portfolio-2.jpg);
    background-size: cover;
}

.portfolio-item3 {
    position: relative;
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(../img/portfolio-3.jpg);
    background-size: cover;
}

.portfolio-item4 {
    position: relative;
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(../img/portfolio-4.jpg);
    background-size: cover;
}

.portfolio-container {
    text-align: left;
    max-width: 1200px;
    margin: auto;
}

.portfolio-text {
    color: white;
    padding: 50px;
    width: 100%;
}

.white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index : 2;
    border : 0px solid white;
    transition: border 1s;
  }
  
  .white-box:hover {
    border : 30px solid white;
  }

/* media query for responsive web */
@media screen and (max-width : 992px) {

    /* main */
    .main-container {
        flex-direction: column;
    }

    .main-text {
        width: auto;
        margin-top: 50px;
        text-align: center;
    }

    .main-iphone-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .main-iphone {
        width: 260px;
    }

    .portfolio-item1 {
        float: none;
        width: 100%
    }

    .portfolio-item2 {
        float: none;
        width: 100%
    }

    .portfolio-item3 {
        float: none;
        width: 100%
    }

    .portfolio-item4 {
        float: none;
        width: 100%
    }
}